html{
    height: 100%;
 }

body{
    margin: 0;
    padding:0 ;
    font-family:sans-serif ;
    background: linear-gradient(#096096B4 ,#93BFCF);

   }
h1{
    text-transform:uppercase;
    color:#096096B4;
}
a{
    background-color:#BDCDD6;
    color:#096096B4;
    text-decoration:none ;
    padding:10px;
    font-size: 12px;

    
}

table{ 
    border:1px solid #ddee;
    border-collapse: collapse;
    border-spacing:0;
    width:70%;
    margin: 10px auto 10px auto;
}
table tr th{
    background-color:#096096B4;
    border: 1px solid #6096B4;
    color: #6096B4;
    padding:10px;
    text-align:center;
    
}
table tr td a{
    background-color: #BDCDD6;
    color:#EEE9DA;
    text-decoration:none ;
    font-size: 15px;
    
}
table tr td {
    border: 1px solid #6096B4;
    background-color: #BDCDD6;
    padding: 10px;
    text-align:center;
}
button{
    background-color:#BDCDD6;
    color:#096096B4;
    text-decoration:none ;
    padding:10px;
    font-size: 1px;
    

}
